$primary-link-color: #00ADB5;
$secondary-link-color: #00ADB5;
$primary-font-san-serif: Cabin, san-serif;
$secondary-font-san-serif: system-ui, san-serif;
$primary-font-serif: "Noto Serif", serif;
$secondary-font-serif: "Helvetica", serif;